version: '3'
services:
  mate-desktop:
    security_opt:
    - seccomp:unconfined
    shm_size: "2gb"
    environment:
    - USER={{ USERNAME }}
    - PASSWORD={{ PASSWORD }}
    - KBD_LANG={{ KBD_LANG }}
    - LANG={{ LANG }}
    cap_add:
    - SYS_PTRACE
    image: ramirezfx/xubuntu-desktop:{{ VERSION }}
    restart: always
    stdin_open: true
    tty: true
    ports:
    - {{ NOMACHINE_PORT }}:4000/tcp
    - {{ X2GO_PORT }}:22/TCP
    volumes:
    - mate-desktop:/data
volumes:
  mate-desktop:
    driver: local
