version: '3'
services:
  mate-desktop:
    security_opt:
    - seccomp:unconfined
    shm_size: "2gb"
    environment:
    - USER={{ USERNAME }}
    - PASSWORD={{ PASSWORD }}
    - LANG={{ LOCALE }}
    - TZ={{ TIMEZONE }}
    cap_add:
    - SYS_PTRACE
    image: ramirezfx/xubuntu-desktop:{{ TAG }}
    restart: always
    stdin_open: true
    tty: true
    ports:
    - {{NOMACHINE_PORT}}:4000/tcp
